// PALETTE
$BEIGE: #E6E3D7
$BEIGE-LIGHT: #F3F1E9
$BLACK: #292D34
$GREEN: #397C47 //#08AF8B
$GREY: #706C75

$NAVY: #464A52
$NAVY-DARK: #31363E
$NAVY-LIGHT: #9191A1
$ORANGE: #F06026 //#F96A54
$ORANGE-DARK: #EE4422

html
  overflow: -moz-scrollbars-vertical
  overflow-y: scroll

body
  background: $BEIGE

abbr
  border: 0

.group:after
  content: ""
  display: table
  clear: both

.button
  box-shadow: 0 3px 0 $ORANGE-DARK

// HEADER
.header
  background: $NAVY
  // background-image: url("noise.png"), -webkit-linear-gradient(top, $NAVY, $NAVY-DARK)
  // background-image: url("noise.png"), -webkit-linear-gradient(top, $NAVY, $NAVY-DARK)
  // border-bottom: 1px solid $BLACK
  // box-shadow: 0 1px 0 rgba(41,45,52, 0.5) inset, 0 -1px 0 rgba(41,45,52, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2)
  // position: relative
  // z-index: 10
  ul
    border-left: 1px solid $NAVY-DARK
    border-right: 1px solid $NAVY-DARK
    list-style: none
    width: 100%
    li
      display: inline-block
      height: 100%
      a:before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
      a
        color: $NAVY-LIGHT
        display: inline-block
        font-weight: 100
        height: 40px
        text-align: center
        text-shadow: 0 1px 0 $BLACK
        vertical-align: middle
        width: 100%
        // i
        //   position: relative
        //   top: 1px
        &:hover
          color: #FFF
      &:first-child
        // border-right: 1px solid $NAVY-DARK
        width: 11.15%
        width: 10%
        a
          font-family: "aw-conqueror-carved-one"
          font-size: emCalc(25px)
      &:nth-child(2)
        // border-right: 1px solid $NAVY-DARK
        width: 11.15%
        width: 10%
      &:nth-child(3)
        // border-right: 1px solid $NAVY-DARK
        width: 11.15%
        width: 10%
      &:nth-child(4)
        // border-left: 1px solid $NAVY-DARK
        // margin-left: 33.1%
        // width: 33.45%
        width: 10%
        a
          font-weight: 600
        i
          font-weight: 100
          // padding-right: 8px

.header ul li.active a
  background: rgba(255,255,255,0.1)
  color: #CCC
  &:hover
    color: #CCC

.community-header
  background: $NAVY-DARK
  color: #FFF
  text-align: center
  ul
    border-left: 1px solid $BLACK
    border-right: 1px solid $BLACK
    padding: 9px 0 10px

// TABS
.tabs
  background: $BEIGE-LIGHT
  // background: #EEE
  ul
    border-left: 1px solid $BEIGE
    border-right: 1px solid $BEIGE
    list-style: none
    li
      display: inline-block
      line-height: 50px
      width: 33.33%
      a
        color: #A2A59E
        display: block
        text-align: center
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8)
        i
          padding-right: 8px
      &:not(.active)
        a
          &:hover
            color: $GREY
      &:nth-child(2)
        border-left: 1px solid $BEIGE
        border-right: 1px solid $BEIGE

.tabs ul li.active a
  background: #FFF
  color: $GREY

// COMMUNITIES
.tabs-communities
  ul
    li
      width: 100%

#s2id_search .select2-search-choice
  display: none

#s2id_search .select2-choices
  border: 0

#s2id_search input
  height: 50px
  padding: 0.7em 1em

.communities
  background: #FFF
  border: 1px solid $BEIGE
  border-radius: 0 0 4px 4px

// POST
.post
  background: #FFF
  border-bottom: 1px solid $BEIGE
  border-left: 1px solid $BEIGE
  border-right: 1px solid $BEIGE
  position: relative

.post-main
  line-height: 1.3
  margin-left: 50px
  padding: 25px 30px

.post-empty
  line-height: 1.2
  padding: 20px 30px
  i
    color: #669933
    float: left

.post-empty-main
  margin-left: 50px

.post-content

.post-comments
  border-left: 1px solid $BEIGE
  display: inline-block
  font-size: emCalc(14px)
  margin-left: 8px
  padding-left: 8px
  i
    padding-right: 3px

.post-hashtags
  a
    color: #999
    display: inline-block
    &:hover
      color: $ORANGE

.post-created
  color: #999
  font-size: emCalc(13px)
  padding-top: 5px

.post-actions
  position: absolute
  top: 0
  bottom: 0
  width: 50px
  ul
    list-style: none
    height: 100%
    li
      height: 50%
      a:before
        content: ''
        display: inline-block
        height: 100%
        vertical-align: middle
      a
        display: inline-block
        text-align: center
        vertical-align: middle
        height: 100%
        width: 100%
        i.icon-check, i.icon-unchecked
          position: relative
          top: 3px
        i.icon-check
          color: $ORANGE
          left: 1px
        i.icon-unchecked
          color: #999
        i.icon-remove
          color: $BEIGE
        &:hover
          i.icon-remove
            color: $ORANGE
      &:first-child
        border-bottom: 1px solid $BEIGE

.post-actions ul.voted_for li
  &:first-child a
    cursor: default
    pointer-events: none
  &:last-child a:hover i
    color: #A2A59E

.post-actions ul.voted_against li
  &:first-child a:hover i
    color: #A2A59E
  &:last-child a
    cursor: default
    pointer-events: none
    i
      color: $ORANGE

// .post-actions ul li.approved a,
// .post-actions ul li.voted_for a,
// .post-actions ul.voted_against li:last-child a
//   cursor: default
//   pointer-events: none

// .post-actions ul li.approved a
//   color: $GREY

// .post-actions ul.voted_against li
//   &:first-child a i
//     color: #A2A59E
//   &:last-child a i
//     color: $ORANGE

// PENDING
.pending-bar
  background: #FFFDF6
  border-bottom: 1px solid $BEIGE
  border-left: 1px solid $BEIGE
  border-right: 1px solid $BEIGE
  color: $GREY
  font-size: emCalc(14px)
  font-weight: 400
  padding: 20px
  text-align: center
  i
    padding-right: 8px

// FORMS
form
  margin: 0

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"], textarea
  border-radius: 0
  height: emCalc(37px) + 0.4em
  font-size: emCalc(16px)
  padding: 0.70em
  -webkit-appearance: none

.form-actions
  padding-top: 1em

.alert-box.alert
  background: transparent
  border: 0
  color: #08AF8B
  padding: 0

.error input, .error textarea, .error select
  border-color: #08AF8B
  background: transparent

.error small
  background: #08AF8B
  color: #FFF
  display: block
  font-size: emCalc(15px)
  font-weight: 500
  margin-bottom: 1em
  padding: 8px 10px

// WELCOME
.welcome-header
  background: $NAVY-DARK

.welcome-logo
  border-left: 1px solid $BLACK
  border-right: 1px solid $BLACK
  text-align: center
  a
    color: $NAVY
    display: inline-block
    font-family: "aw-conqueror-carved-one"
    font-size: emCalc(32px)
    font-weight: 100
    padding: 8px 0

.welcome-tagline
  background: $NAVY

.tagline
  border-bottom: 1px solid $NAVY-DARK
  border-left: 1px solid $NAVY-DARK
  border-right: 1px solid $NAVY-DARK
  color: $NAVY-LIGHT
  font-size: emCalc(18px)
  font-weight: 600
  line-height: 1.3
  text-align: center
  text-shadow: 0 1px 0 $BLACK
  padding: 20px 80px

.welcome-tabs
  ul
    li
      width: 50%
      &:nth-child(2)
        border-right: 0

// NEW USER
.new_user
  background: #FFF
  border: 1px solid $BEIGE-LIGHT
  border-top: 0
  border-radius: 0 0 4px 4px
  padding: 40px 50px

.new_user .hint
  color: #999
  font-size: emCalc(14px)
  margin: 1em 0
  text-align: center
  i
    margin-right: 8px

.learn-more
  text-align: center
  color: $ORANGE
  padding-top: 2em
  i
    margin-left: 8px

.learn-more-steps
  border-top: 1px solid $BEIGE
  color: $NAVY
  margin-top: 2em
  padding: 30px 1em 5px
  text-align: left
  span
    background: $ORANGE
    border-radius: 1000px
    box-shadow: 0 2px 0 $ORANGE-DARK
    color: #FFF
    float: left
    font-weight: 300
    text-align: center
    width: 32px
    padding: 8px 0 6px
  div
    margin-left: 45px

// EDIT USER
.edit_user
  background: #FFF
  border: 1px solid $BEIGE
  border-top: 0
  border-radius: 0 0 4px 4px
  padding: 40px 50px

// NEW POST
.new_post
  background: #FFF
  border: 1px solid $BEIGE
  border-top: 0
  border-radius: 0 0 4px 4px
  padding: 40px 50px

#post_content
  resize: none
  height: 81px

.new_post .hint
  color: #999
  font-size: emCalc(14px)
  margin: 1em 0
  text-align: center
  i
    margin-right: 8px

// FOOTER
.footer
  a
    color: #999
    display: inline-block
    font-size: emCalc(12px)
    padding: 10px
    i.icon-signout
      padding-right: 6px

// RESPONSIVE
// Used to alter styles for screens at least 768px wide. This is where the grid changes.
@media only screen and (max-width: 768px)
  .column, .columns
    padding: 0

  // WELCOME
  .tagline
    padding: 17px 0

  // NEW USER
  .new_user
    border-radius: 0
    padding: 40px 20px

  // HEADER
  .header
    ul
      li
        &:first-child
          width: 25%
        &:nth-child(2)
          width: 25%
        &:nth-child(3)
          width: 25%
        &:nth-child(4)
          border-left: 0
          margin-left: 0
          width: 25%